<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <!-- sending a message from Vue to DOM -->
        <div id="app1">
            {{ message }}
        </div>

        <!-- if statement -->
        <div id="app2">
            <span v-if="seen">hidden text!</span>
        </div>

        <!-- for loops -->
        <div id="app3">
            <ol>
                <li v-for="todo in todos">
                {{ todo.text }}
                 </li>
            </ol>
        </div>

        <!-- event listeners /functions  -->
        <div id='app4'>
            <p>{{ message4 }}</p>
            <button v-on:click="reverseMessage">Click to Reverse Message</button>
        </div>

        <!-- v-model -->
        <div id="app5">
            <p>see what you type!</p>
           <p>{{ message5 }}</p>
            <input v-model="message5">
        </div>

        <!-- components system -->
        <div id="app6">
                <ol>
                    <tudo-item
                        v-for="item in groceryList"
                        v-bind:tudo="item"
                        v-bind:key="item.id">
                    </tudo-item>
                </ol>
            </div>

        <script src="index.js"></script>
    </body>
</html>